name: Build and Publish Docker Image

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest  # Se ejecuta en un runner de Ubuntu

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # Se usa la acci贸n para hacer checkout del c贸digo

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:${{ github.ref_name }} .

      - name: Docker Tag 'latest'
        run: |
          docker tag ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:${{ github.ref_name }} ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:latest

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:${{ github.ref_name }}
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:latest

  release:
    runs-on: ubuntu-latest

    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          body: |
             **Nueva versi贸n publicada:** `${{ github.ref_name }}`
            
             **Docker Image:**
            ```
            docker pull ${{ secrets.DOCKER_USERNAME }}/photocalendar:${{ github.ref_name }}
            ```
             **ltima versi贸n estable:**
            ```
            docker pull ${{ secrets.DOCKER_USERNAME }}/photocalendar:latest
            ```
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
