name: Build and Publish Docker Image

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest  # Se ejecuta en un runner de Ubuntu

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # Se usa la acción para hacer checkout del código

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:${{ github.ref_name }} .

      - name: Docker Tag 'latest'
        run: |
          docker tag ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:${{ github.ref_name }} ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:latest

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:${{ github.ref_name }}
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/photocalendar:latest
